<div class="container">
    <h1>Elelement1</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, quibusdam? Incidunt autem dignissimos
        aperiam eum inventore, fugit laborum. A consequuntur obcaecati quisquam beatae doloribus delectus ab, iure
        maxime corrupti sapiente.</p>
    <img src="" alt="">

    <p-button label="Submit" />

    <p-card header="Simple Card">
        <p class="m-0">
            Lorem ipsum dolor sit amet...
        </p>
    </p-card>
</div>