<div class="main">
  <div class="wrapper-guest d-flex justify-content-center ">
    <div class="container">
      <div class="row no-gutters p-5 g-0 ">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 left__section p-5">
          <div class="form-container">
            <div class="logos d-flex justify-content-center p-2">
              <a href="/accueil"><img src="assets/logo.png" alt="Sénégal" title="Sénégal" width="150"></a>
            </div>
            <router-outlet></router-outlet>
          </div>
        </div>
        <div class="col-lg-6 d-none d-lg-block right__section">
          <div class="right__section-container p-5">
            <h1 class="title pt-5 text-white">
              Emedia Votre regard sur le monde là où l'actualité prend vie
            </h1>
            <p class="pt-2 text-white">Chez emedia, nous croyons que l'information doit être à la fois rapide et fiable.
              Notre mission est de capturer chaque instant important et de le transmettre au monde avec précision et
              clarté. Grâce à une équipe dévouée de journalistes, d'analystes et de techniciens, nous nous engageons à
              fournir des nouvelles authentiques et percutantes qui reflètent la réalité.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>