.hero {
    height: 60vh;
    background: linear-gradient(135deg, #0e64ae, #fe9a0a);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero h1 span {
    color: #ffeb3b;
}

.hero p {
    font-size: 1.5rem;
    margin-top: 10px;
}

.hero button {
    margin-top: 20px;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards;
}

.delay-1 {
    animation-delay: 0.5s;
}

.delay-2 {
    animation-delay: 1s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}