<div class="grid mt-3">
  <!-- Barre latérale -->
  <div class="col-12 md:col-3">
    <div class="p-2">
      <p-menu [model]="items" class="bg-primary">
        <ng-template #item let-item>
          <ng-container *ngIf="item.route; else elseBlock">
            <a [routerLink]="['/cloud-sign', item.route]" class="p-menu-item-link">
              <span [class]="item.icon"></span>
              <span class="ml-2">{{ item.label }}</span>
            </a>
          </ng-container>
          <ng-template #elseBlock>
            <a [href]="item.url" class="p-menu-item-link">
              <span [class]="item.icon"></span>
              <span class="ml-2">{{ item.label }}</span>
            </a>
          </ng-template>
        </ng-template>
      </p-menu>
    </div>
  </div>

  <!-- Zone de contenu -->
  <div class="col-12 md:col-9">
    <router-outlet></router-outlet>
  </div>
</div>
