@import url(".././public/assets/field.css");
@import "primeicons/primeicons.css";

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.p-menu-submenu-item {
    background-color: #141212 !important;
    color: #3b3a3a !important;
}