<!-- <div class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-sm-6 col-xm-12 logo">
                <img src="assets/logo.png" alt="logo" >
                <p>Copyright © 2024 Emedia Templates | All Rights Reserved </p>
            </div>
            <div class="col-lg-4 col-sm-6 col-xm-12 newsletter text-left ">
                <strong >Abonnez-vous a notre newsleter</strong>
                <div class="search_wrap search_wrap_6 pt-2">
                  <div class="search_box">
                    <input type="text" class="input" placeholder="Votre adresse email...">
                    <div class="btn">
                      S'abonner
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xm-12 reseaux text-end ">
                <div class="fab ">
                    <a href="http://"><i class="fa-brands fa-facebook"></i></a>&nbsp;
                    <a href="http://"><i class="fa-brands fa-instagram"></i></a>&nbsp;
                    <a href="http://"><i class="fa-brands fa-youtube"></i></a>&nbsp;
                    <a href="http://"><i class="fa-brands fa-twitter"></i></a>&nbsp;
                    <a href="http://"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</div> -->